*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

/* menu */

#caja1{
    width: 99.8%;
    height: 52px;
    background-color: red;
    border: solid 1px rosybrown;
    display: flex;
    justify-content: flex-end;
}

#caja1 ul{
    display: flex;
    justify-content: end;
}

#caja1 ul li{
    list-style: none;
    display: flex;
}

.uno, .dos, .tres{ 
    display: flex;   
    margin: 0 9px;
    width: 100px;
    height: 50px;
    border: 1px solid white;
}

li a{
    text-decoration: none;
    display: flex;   
    color: white;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/* redes sociales */

body #caja2{
    width: 45px;
    height: 156px;
    position:fixed;
    top: 28%;
    z-index: 10;
}

.redes{
    display: flex;
    flex-direction: column;
}

.one, .two, .three{
    width: 43px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out ;
}

.one a{
    background-color: #54e346;
    transition: all 0.3s ease-in-out ;
}

.one a .icon-whatsapp{
    background-color: #54e346;
    font-size: 30px;
    transition: all 0.3s ease-in-out ;
}


.two a{
    background-color: #3b5998;
}

.two a .icon-facebook2{
    background-color: #3b5998;
    font-size: 25px;
}

.three a{
    background-color: red;
}

.three a .icon-instagram{
    background-color: red;
    font-size: 25px;
}



/* 3 pilares */

#caja3{
    width: 950px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 150px;
}

.un, .deux, .trois{
    width: 250px;
    height: 398px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

img{
    width: 234px;
    height: 250px;
    border: 1px solid white;
    display: flex;
}

p{
    color: white;
    display: flex;
    padding: 12px;
    width: 211px;
    text-align: center;
}


/* iconos de redes */

.icon-whatsapp:before {
    content: "\ea93";
    color: white;
}

.icon-facebook2:before {
    content: "\ea91";
    color: white;
}

.icon-instagram:before {
    content: "\ea92";
    color: white;
}


/* Media query */ 

@media only screen and (max-width: 500px){
    
/* menu */

#caja1{
    width: 500px;
    height: 155px;
    background-color: red;
    display: flex;
    margin: 0;
}

#caja1 ul{
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 155px;
}

#caja1 ul li{
    display: flex;
}

.uno, .dos, .tres{ 
    width: 500px;
    height: 155px;
    margin: 0;
}

li a{
    width: 500px;
    height: 51.7px;
    display: flex;
   align-items: center;
   justify-content: center;
}

/* redes sociales */

body #caja2{
    width: 45px;
    height: 156px;
    position:fixed;
    top: 28%;
    z-index: 10;
}

.redes{
    flex-direction: column;
}

#caja2 a{
    width: 45px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}



span{
    width: 45px;
    height: 52px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-whatsapp{
    background: green;
}

.icon-facebook2{
    background: rgb(0, 130, 252);
}

.icon-instagram{
    background: red;
}

span{
    transition: all 0.5s ease-in-out;
    font-size: 21px;
}



/* pelares */ 

#caja3{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.un, .deux, .trois{
    width: 250px;
    height: 398px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    position: relative;
    top: 60px;
}

img{
    width: 252px;
    height: 250px;
    display: flex;
}

p{
    display: none;
}

/* transicion */

span:hover{
    width: 45px;
    height: 52px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#caja2 a:hover{
    width: 45px;
}
